
# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mydb"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
# Generate a secret key: `bunx --bun @better-auth/cli secret`

# SMTP configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# GitHub OAuth configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google OAuth configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Node configuration
NODE_ENV=